apiVersion: v2
name: {@ chart_name @}
description: {@ chart_description @}
type: application
version: {@ chart_version @}
appVersion: "{@ app_version @}"
{% if homepage -%}
home: {@ homepage @}
{% endif -%}
{% if maintainer_name -%}
maintainers:
  - name: {@ maintainer_name @}
{%- if maintainer_email %}
    email: {@ maintainer_email @}
{%- endif %}
{% endif -%}
{% if source_repo -%}
sources:
  - {@ source_repo @}
{% endif -%}

dependencies:
  - name: common.itsumi
    version: 0.1.5
    repository: oci://ghcr.io/michaelw
